body {
  margin: 0;
  font-family: sans-serif;
  background: #222;
  color: #ddd;
  text-align: center;
}

.App {
  width: 90%;
  margin: 0 auto;
}

h1 {
  color: yellow;
  font-size: 3em;
  letter-spacing: 1.5px;
}

button {
  margin: 0 10px;
  background: transparent;
  border: 2px solid #ccc;
  border-radius: 10px;
  color: #ccc;
  font-size: 1.2em;
  cursor: pointer;
}

button:hover {
  color: #fff;
  border-color: #fff;
}

.content {
  text-align: left;
}

.card {
  padding: 4px 8px;
  background-color: #1b1b1b;
  margin: 8px 0;
  border-radius: 10px;
}

.card p {
  margin: 3px 0;
  color: #999;
}

.card h3 {
  margin: 5px 0;
  color: #ffff57;
}
